#container{
  height: 25vh;
}
.textarea-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 3px 4px;
  border: none;
  box-shadow: var(--border-field);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 5px;
  border: 5px;
  font-weight: bolder;
}
