<div class="container">
  <div class="main">
    <div class="description">
      <h4>Description</h4>
      <mat-form-field>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>
    </div>
    <div class="solution">
      <h4>Solution</h4>
      <mat-form-field>
        <textarea matInput [(ngModel)]="solution"></textarea>
      </mat-form-field>
    </div>
    <div class="chat">
      c
      <p>
        {{responseOpenAi}}
      </p>
    </div>
  </div>
  <div class="message-area">
    
    <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput [(ngModel)]="message"></textarea>
    </mat-form-field>
    <button mat-raised-button id="wsButton" type="button" title="Open WebSocket connection" (click)="openWebSocket()" *ngIf="threadId == ''">
      Open WebSocket connection
    </button>
    <button mat-raised-button id="wsSendButton" type="button" title="Send WebSocket message" (click)="sendMessage()" *ngIf="threadId != ''">
      Send WebSocket message
    </button>
  </div>
</div>
