<div id="container">
  <div class="title-bar">
    <div class="title-bar-text">Mentor Code</div>
  </div>
  <div id="main">
    <div>
      <fieldset>
        <legend>Description</legend>
        <div class="textarea-container">
          <textarea title="Description" [rows]="rows" matInput [(ngModel)]="description"></textarea>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>Solution</legend>
        <div class="textarea-container">
          <textarea title="Code solution" [rows]="rows" matInput [(ngModel)]="solution"></textarea>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>Response</legend>
        <div class="textarea-container">
          <textarea title="Response" matInput [(ngModel)]="responseOpenAi" [rows]="rows"></textarea>
        </div>
      </fieldset>
    </div>
  </div>
  <div id="actions">
    <button (click)="resetConection()" [disabled]="status != 2">Reset</button>
    <button (click)="sendMessage()" [disabled]="status != 1">
      Explain my code
    </button>
  </div>
  <div class="status-bar">
    <p class="status-bar-field">Status: {{statusEnum[status]}}</p>
    <p class="status-bar-field">Messages lines count {{responseLinesCount}}</p>
    <p class="status-bar-field">Developed by Erika Valdes</p>
  </div>
</div>
