.container {
    width: 100vw;
    height: 100vh;
}
.main{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
}
.description {
}
.solution {
}
.chat {
}